# Dependencias de Node.js
node_modules/
npm-debug.log
yarn-error.log

# Archivos generados por Vite
dist/
build/

# Archivos de entorno
.env
.env.local
.env.*.local

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de compilación de Electron
*.exe
*.deb
*.rpm
*.dmg